<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="/articles" method="POST">
      <div>
        <label>Title </label>
        <input type="text" name="title" placeholder="Title of articles" />
      </div>

      <br />

      <div>
        <label>Body </label>
        <input type="text" name="body" placeholder="Detail of article" />
      </div>

      <br />

      <input type="submit" />
    </form>
  </body>
</html>
